doctype
html
	head
		title= "Real time web chat"
		link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans|Pacifico', rel='stylesheet')
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

		style.
			body {
				font-family: Open Sans, sans-serif; 
				font-size:15px;
				color:white;
				background-color:#282828;
			}

	body
		#content(style='width: 100%; height: 300px; margin: 0 0 20px 0; border: solid 0px #999; overflow-y: scroll;')
		.controls
			div(style='text-align:left;')

				input#name(style='width:350px;', placeholder="Name")
				br
				input#field(style='width:350px;',placeholder="Message")
				input#send(type='button', value='send', )